<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>masoud kargar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <html>

    <body class="style-0"><button type="button" class="style-1"><i class="style-2"></i></button>
        <div class="style-3">
            <header class="style-4">
                <div class="style-5">
                    <div class="style-6">

                        <div class="style-7">
                            <select class="style-8" onchange="location = this.value;">
                                <option value="?Prof=1&amp;lg=en" class="style-9">English</option>
                                <option value="?Prof=1&amp;lg=fa" selected="" class="style-10">فارسی</option>
                            </select> <i class="style-11" aria-hidden="true"></i>
                        </div>
                    </div>
                    <nav class="style-12">
                        <ul class="style-13">
                            <li class="style-14"><a class="style-15" href="#biography">بیوگرافی</a></li>
                            <li class="style-16"><a href="#education" class="style-17"></a><a class="style-18"
                                    href="#education">تحصیلات</a></li>
                            <li class="style-19"><a class="style-20" href="#favorite">علاقه مندی ها</a></li>
                            <li class="style-21"><a class="style-22" href="#research">فعالیت های پژوهشی</a></li>
                            <li class="style-23"><a class="style-24" href="#activities">فعالیت های اجرایی آموزشی</a>
                            </li>
                            <li class="style-25"><a class="style-26" href="#contactUs">تماس با ما</a></li>
                            <li class="style-27"><a class="style-28" href="#StudentSection">بخش دانشجویی</a></li>
                            <li class="style-29"><a class="style-30" href="/">دوره ها</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <section class="style-31">
            <div class="style-32">
                <div class="style-33">
                    <div class="style-34">
                        <div class="style-35">
                            <img src="assets/bio.webp"
                                class="style-36" />
                        </div>
                        <div class="style-37">
                            <h1 class="style-38">دکتر مسعود کارگر</h1>
                            <h5 class="style-39">استادیار</h5>
                            <p class="style-40">دکتر مسعود کارگر - استادیار گروه کامپیوتر دانشگاه آزاد اسلامی واحد
                                تبریز. وی کارشناسی را در سال 1376، کارشناسی ارشد مهندسی نرم افزار در سال 1379 و دکترای
                                مهندسی نرم افزار را از دانشگاه آزاد اسلامی قزوین در سال 1399 با عنوان رساله "پیمانه‌بندی
                                سیستم های نرم افزاری چندزبانه" دریافت نمود. وی علاوه بر نگارش چندین مقاله در مجلات و
                                کنفرانس‌های معتبر، مدیر فناوری اطلاعات و ارتباطات دانشگاه، مدیر توسعه چندین سیستم
                                نرم‌افزاری و عضویت در هیئت تحریریه مجله است. و در حال حاضر، بر موضوعات تحقیقاتی هوش
                                مصنوعی، یادگیری عمیق، یادگیری ماشینی، داده کاوی، اینترنت اشیا، الگوریتم های پیشرفته
                                متمرکز است.</p>
                            <div class="style-41">
                                <a href="#contactUs" class="style-42">تماس با ما</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="style-43">
            <div class="style-44">
                <div class="style-45">
                    <div class="style-46">
                        <div class="style-47">
                            <p class="style-48">تعداد فعالیت‌ های علمی آموزشی</p>
                            <h2 class="style-49">7+</h2>
                        </div>
                        <div class="style-50">
                            <p class="style-51">تعداد فعالیت‌ های علمی پژوهشی</p>
                            <h2 class="style-52">40+</h2>
                        </div>
                        <div class="style-53">
                            <p class="style-54">تعداد فعالیت‌ های علمی اجرایی</p>
                            <h2 class="style-55">6+</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="style-56">

            <section class="style-57">
                <div class="style-58">
                    <h3 id="education" class="style-59">تحصیلات</h3>
                </div>
                <div class="style-60">
                    <div class="style-61">
                        <div class="style-62">
                            <div class="style-63"></div>
                            <h5 class="style-64">دکتری تخصصی مهندسی نرم افزار </h5>
                            <p class="style-65">دانشگاه آزاد اسلامی قزوین<br class="style-66" />قزوین - ایران</p>
                            <p class="style-67">1399</p>
                            <div class="style-68"></div>
                        </div>
                    </div>
                    <div class="style-69">
                        <div class="style-70">
                            <div class="style-71"></div>
                            <h5 class="style-72">کارشناسی ارشد ناپیوسته مهندسی نرم افزار </h5>
                            <p class="style-73">دانشگاه آزاد اسلامی تهران جنوب<br class="style-74" />تهران - ایران</p>
                            <p class="style-75">1379</p>
                            <div class="style-76"></div>
                        </div>
                    </div>
                    <div class="style-77">
                        <div class="style-78">
                            <div class="style-79"></div>
                            <h5 class="style-80">کارشناسی پیوسته ریاضی کاربرد در کامپیوتر </h5>
                            <p class="style-81">دانشگاه تبریز<br class="style-82" />تبریز - ایران</p>
                            <p class="style-83">1376</p>
                            <div class="style-84"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="style-85">
                <div class="style-86">
                    <div class="style-87">
                        <div class="style-88"><img src="assets/bg11.png" class="style-89" /></div>
                        <div class="style-90"><img src="assets/bg12.png" class="style-91" /></div>
                        <div class="style-92"><img src="assets/bg12.png" class="style-93" /></div>
                        <div class="style-94"><img src="assets/bg11.png" class="style-95" /></div>
                        <div class="style-96"><img src="assets/bg12.png" class="style-97" /></div>
                        <div class="style-98"><img src="assets/bg12.png" class="style-99" /></div>
                        <div class="style-100">
                            <img src="assets/bg5.webp" alt="" class="style-101" />
                        </div>
                        <div class="style-102">
                            <h3 id="favorite" class="style-103">موارد پژوهشی مورد علاقه</h3>
                            <ul class="style-104">
                                <li class="style-105" style="display: flex;align-items: center;"><img
                                        src="assets/item.png" alt=""><i class="style-106"></i>یادگیری عمیق</li>
                                <li class="style-107" style="display: flex;align-items: center;"><img
                                        src="assets/item.png" alt=""><i class="style-108"></i>یادگیری ماشین</li>
                                <li class="style-109" style="display: flex;align-items: center;"><img
                                        src="assets/item.png" alt=""><i class="style-110"></i>علم داده</li>
                                <li class="style-111" style="display: flex;align-items: center;"><img
                                        src="assets/item.png" alt=""><i class="style-112"></i>داده کاوی پیشرفته</li>
                                <li class="style-113" style="display: flex;align-items: center;"><img
                                        src="assets/item.png" alt=""><i class="style-114"></i>سیستم‌های نرم‌افزاری چند
                                    زبانه</li>
                                <li class="style-115" style="display: flex;align-items: center;"><img
                                        src="assets/item.png" alt=""><i class="style-116"></i>پیمانه‌بندی سیستم‌های
                                    نرم‌افزاری</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="style-117">
                <div class="style-118">
                    <h3 class="style-119">مهارت ها</h3>
                </div>
                <div class="style-120">
                    <div class="style-121">
                        <div class="style-122">
                            <div class="style-123">
                                <div class="style-124">
                                    <h2 class="style-125">مدیریت و تحلیل داده</h2>
                                    <div class="style-126" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-127"></canvas> <strong
                                            class="style-128">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-129">
                                <div class="style-130">
                                    <h2 class="style-131">علم داده</h2>
                                    <img src="assets/100c.png" alt="">
                                </div>
                            </div>
                            <div class="style-135">
                                <div class="style-136">
                                    <h2 class="style-137">مدیریت پروژه بر اساس PMBOK</h2>
                                </div>
                            </div>
                            <div class="style-141">
                                <div class="style-142">
                                    <h2 class="style-143">برنامه‌نویسی</h2>
                                    <div class="style-144" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-145"></canvas> <strong
                                            class="style-146">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-147">
                                <div class="style-148">
                                    <h2 class="style-149">مدیریت و تحلیل داده</h2>
                                    <div class="style-150" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-151"></canvas> <strong
                                            class="style-152">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-159">
                                <div class="style-160">
                                    <h2 class="style-161">مدیریت پروژه بر اساس PMBOK</h2>
                                    <img src="assets/100c.png" style="width: 200px; margin: 0 auto;" alt="">
                                </div>
                            </div>
                            <div class="style-171">
                                <div class="style-172">
                                    <h2 class="style-173">مدیریت و تحلیل داده</h2>
                                    <img src="assets/100c.png" style="width: 200px; margin: 0 auto;" alt="">
                                </div>
                            </div>
                            <div class="style-177">
                                <div class="style-178">
                                    <h2 class="style-179">علم داده</h2>
                                    <img src="assets/100c.png" style="width: 200px; margin: 0 auto;" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="style-195"><button type="button" role="presentation" class="style-196"><span
                                aria-label="Previous" class="style-197">‹</span></button><button type="button"
                            role="presentation" class="style-198"><span aria-label="Next"
                                class="style-199">›</span></button></div>
                    <div class="style-200"><button role="button" class="style-201"><span
                                class="style-202"></span></button></div>
                </div>
            </section>
            <section class="style-203">
                <div class="style-204">
                    <h3 id="research"  class="style-205">فعالیت های علمی پژوهشی</h3>
                </div>
                <div class="style-206">
                    <div class="style-207">
                        <a class="style-208" data-toggle="tab" href="javascript:void(0);"><i class="style-209"></i></a>
                        <div class="style-210" role="tablist" aria-orientation="vertical">
                            <a class="style-211" data-toggle="tab" href="#books" role="tab" aria-controls="books"
                                aria-selected="true">
                                <img src="assets/icon-book.webp" class="style-212" />
                                <span class="style-213">کتب</span> </a>
                            <a class="style-214" data-toggle="tab" href="#magazines" role="tab"
                                aria-controls="magazines" aria-selected="true">
                                <img src="assets/icon2.png" class="style-215" /><span class="style-216">مقالات
                                    مجلات</span> </a>
                            <a class="style-217" data-toggle="tab" href="#article-conference" role="tab"
                                aria-controls="article-conference" aria-selected="true"><img src="public/img/icon3.png"
                                    class="style-218" />
                                <span class="style-219">مقالات کنفرانس ها</span> </a>
                            <a class="style-220" data-toggle="tab" href="#conference" role="tab"
                                aria-controls="conference" aria-selected="true">
                                <img src="assets/icon4.png" class="style-221" /><span class="style-222">همایش</span>
                            </a>
                            <a class="style-223" data-toggle="tab" href="#seminar" role="tab" aria-controls="seminar"
                                aria-selected="true">
                                <img src="assets/icon5.png" class="style-224" /><span
                                    class="style-225">سمینار</span> </a>
                            <a class="style-226" data-toggle="tab" href="#workshop" role="tab" aria-controls="workshop"
                                aria-selected="true">
                                <img src="assets/icon6.png" class="style-227" /><span
                                    class="style-228">کارگاه</span> </a>
                            <a class="style-229" data-toggle="tab" href="#dissertation" role="tab"
                                aria-controls="dissertation" aria-selected="true">
                                <img src="assets/icon8.png" class="style-230" /><span class="style-231">پایان نامه
                                    ها</span> </a>
                        </div>
                    </div>
                    <div class="style-232">
                        <div class="style-233">
                            <div class="style-234" role="tabpanel" aria-labelledby="books-tab">
                                <ul class="style-235">
                                    <li class="style-236">
                                        <div class="style-237">
                                            <h5 class="style-238">برنامه نویسی به زبان سی پلاس پلاس</h5>
                                            <p class="style-239"><b class="style-240">تاریخ چاپ: </b>1384</p>
                                            <p class="style-241"><b class="style-242">ناشر: </b>سهند</p>
                                        </div>
                                        <div class="style-243">
                                            <div class="style-244">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="style-245">
                                        <div class="style-246">
                                            <h5 class="style-247">مدیریت ریسک با تحلیل الگوهای عددی داده کاوی</h5>
                                            <p class="style-248"><b class="style-249">تاریخ چاپ: </b>1386</p>
                                            <p class="style-250"><b class="style-251">ناشر: </b>انتشارات INTECH اتریش،
                                                ISBN: 978-953-7619-62</p>
                                        </div>
                                        <div class="style-252">
                                            <div class="style-253">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
            </section>
            <section class="style-826">
                <div class="style-827">
                    <h3 class="style-828">زبان</h3>
                </div>
                <div class="style-829">
                    <div class="style-830">
                        <div class="style-831">
                            <div class="style-832">
                                <div class="style-833">
                                    <h2 class="style-834">انگلیسی</h2>
                                    <div class="style-835" data-value="0.8" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-836"></canvas> <strong
                                            class="style-837">80%</strong> </div>
                                </div>
                            </div>
                            <div class="style-838">
                                <div class="style-839">
                                    <h2 class="style-840">ترکی آذری</h2>
                                    <div class="style-841" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-842"></canvas> <strong
                                            class="style-843">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-844">
                                <div class="style-845">
                                    <h2 class="style-846">عربی</h2>
                                    <div class="style-847" data-value="0.6" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-848"></canvas> <strong
                                            class="style-849">60%</strong> </div>
                                </div>
                            </div>
                            <div class="style-850">
                                <div class="style-851">
                                    <h2 class="style-852">ترکی استانبولی</h2>
                                    <div class="style-853" data-value="0.6" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-854"></canvas> <strong
                                            class="style-855">60%</strong> </div>
                                </div>
                            </div>
                            <div class="style-856">
                                <div class="style-857">
                                    <h2 class="style-858">فارسی</h2>
                                    <div class="style-859" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-860"></canvas> <strong
                                            class="style-861">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-862">
                                <div class="style-863">
                                    <h2 class="style-864">انگلیسی</h2>
                                    
                                            <img src="assets/80c.png" style="width: 200px; margin: 0 auto;" alt="">
                                </div>
                            </div>
                            <div class="style-868">
                                <div class="style-869">
                                    <h2 class="style-870">ترکی آذری</h2>
                                            <img src="assets/100c.png" style="width: 200px; margin: 0 auto;" alt="">
                                </div>
                            </div>
                            <div class="style-874">
                                <div class="style-875">
                                    <h2 class="style-876">عربی</h2>
                                    <img src="assets/60c.png" style="width: 200px; margin: 0 auto;" alt="">
                                </div>
                            </div>
                            <div class="style-880">
                                <div class="style-881">
                                    <h2 class="style-882">ترکی استانبولی</h2>
                                    <div class="style-883" data-value="0.6" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-884"></canvas> <strong
                                            class="style-885">60%</strong> </div>
                                </div>
                            </div>
                            <div class="style-886">
                                <div class="style-887">
                                    <h2 class="style-888">فارسی</h2>
                                    <div class="style-889" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-890"></canvas> <strong
                                            class="style-891">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-892">
                                <div class="style-893">
                                    <h2 class="style-894">انگلیسی</h2>
                                    <div class="style-895" data-value="0.8" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-896"></canvas> <strong
                                            class="style-897">80%</strong> </div>
                                </div>
                            </div>
                            <div class="style-898">
                                <div class="style-899">
                                    <h2 class="style-900">ترکی آذری</h2>
                                    <div class="style-901" data-value="1" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-902"></canvas> <strong
                                            class="style-903">100%</strong> </div>
                                </div>
                            </div>
                            <div class="style-904">
                                <div class="style-905">
                                    <h2 class="style-906">عربی</h2>
                                    <div class="style-907" data-value="0.6" data-size="150" data-thickness="10"><canvas
                                            width="150" height="150" class="style-908"></canvas> <strong
                                            class="style-909">60%</strong> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="style-910"><button type="button" role="presentation" class="style-911"><span
                                aria-label="Previous" class="style-912">‹</span></button><button type="button"
                            role="presentation" class="style-913"><span aria-label="Next"
                                class="style-914">›</span></button></div>
                    <div class="style-915"><button role="button" class="style-916"><span
                                class="style-917"></span></button><button role="button" class="style-918"><span
                                class="style-919"></span></button></div>
                </div>
            </section>
            <section class="style-920">
                <div class="style-921">
                    <div class="style-922">
                        <div class="style-923">
                            <div class="style-924">
                                <h3 id="activities" class="style-925">فعالیت های علمی آموزشی</h3>
                            </div>
                            <div class="style-926"><img src="assets/bg10.png" class="style-927" /></div>
                            <div class="style-928"><img src="assets/bg10.png" class="style-929" /></div>
                            <div class="style-930">
                                <div class="style-931">
                                    <ul class="style-932">
                                        <li class="style-933" ng-repeat="itembx">
                                            <div class="style-934">
                                                کارشناسی ارشد ناپیوسته<br class="style-935" /> 1398 </div>
                                            <div class="style-936">یادگیری عمیق</div>
                                        </li>
                                        <li class="style-937" ng-repeat="itembx">
                                            <div class="style-938">
                                                کارشناسی پیوسته<br class="style-939" /> 1378-1399 </div>
                                            <div class="style-940">پایگاه داده</div>
                                        </li>
                                        <li class="style-941" ng-repeat="itembx">
                                            <div class="style-942">
                                                کارشناسی پیوسته<br class="style-943" /> 1378-1399 </div>
                                            <div class="style-944">تحلیل و طراحی سیستم های نرم افزاری</div>
                                        </li>
                                        <li class="style-945" ng-repeat="itembx">
                                            <div class="style-946">
                                                کارشناسی پیوسته<br class="style-947" /> 1380-1399 </div>
                                            <div class="style-948">مهندسی نرم افزار</div>
                                        </li>
                                        <li class="style-949" ng-repeat="itembx">
                                            <div class="style-950">
                                                کارشناسی پیوسته<br class="style-951" /> 1390-1400 </div>
                                            <div class="style-952">یکپارچه سازی برنامه های کاربردی سازمان</div>
                                        </li>
                                        <li class="style-953" ng-repeat="itembx">
                                            <div class="style-954">
                                                کارشناسی پیوسته<br class="style-955" /> 1390-1400 </div>
                                            <div class="style-956"> مدیریت پروژه</div>
                                        </li>
                                        <li class="style-957" ng-repeat="itembx">
                                            <div class="style-958">
                                                کارشناسی پیوسته<br class="style-959" /> 1378-1399 </div>
                                            <div class="style-960">ساختمان داده</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="style-961">
                            <div class="style-962">
                                <h3 class="style-963">فعالیت های علمی اجرایی</h3>
                            </div>
                            <div class="style-964"><img src="assets/bg10.png" class="style-965" /></div>
                            <div class="style-966"><img src="assets/bg10.png" class="style-967" /></div>
                            <div class="style-968">
                                <div class="style-969">
                                    <ul class="style-970">
                                        <li class="style-971" ng-repeat="itembx">
                                            <div class="style-972">
                                                دانشگاه آزاد اسلامی- واحد تبریز<br class="style-973" />1394- </div>
                                            <div class="style-974">مدیر فناوری اطلاعات و ارتباطات</div>
                                        </li>
                                        <li class="style-975" ng-repeat="itembx">
                                            <div class="style-976">
                                                دانشگاه آزاد اسلامی- واحد تبریز<br class="style-977" />- </div>
                                            <div class="style-978">عضو کمیته تخصصی گروه کامپیوتر</div>
                                        </li>
                                        <li class="style-979" ng-repeat="itembx">
                                            <div class="style-980">
                                                شرکت خانه نرم افزار قائم<br class="style-981" />1378- </div>
                                            <div class="style-982">رئیس هیئت مدیره و مدیر عامل</div>
                                        </li>
                                        <li class="style-983" ng-repeat="itembx">
                                            <div class="style-984">
                                                ISP1501<br class="style-985" />1379- </div>
                                            <div class="style-986">رئیس هئیت مدیره و مدیر فنی</div>
                                        </li>
                                        <li class="style-987" ng-repeat="itembx">
                                            <div class="style-988">
                                                صدا و سیمای جمهوری اسلامی تهران<br class="style-989" />1376- </div>
                                            <div class="style-990">عضو توسعه طراحی شبکه </div>
                                        </li>
                                        <li class="style-991" ng-repeat="itembx">
                                            <div class="style-992">
                                                شهرداری کلان شهر تبریز<br class="style-993" />1390-1390 </div>
                                            <div class="style-994">عضو شورای طرح تحول سازمانی</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="style-995">
                <div class="style-996">
                    <div class="style-997">
                        <img src="assets/contactUs.png" class="style-998" />
                    </div>
                    <div class="style-999">
                        <div class="style-1000">
                            <h3 id="contactUs" class="style-1001">تماس با استاد</h3>
                            <div class="style-1002">
                                <p class="style-1003">لطفا برای<strong class="style-1004"> تماس/ پرسش/ درخواست /
                                        راهنمایی</strong> از ایمیل <a href="mailto:kargar@iaut.ac.ir"
                                        class="style-1005">kargar@iaut.ac.ir</a>&nbsp; استفاده نمایید.</p>
                                <p class="style-1006">و برای</p>
                                <p class="style-1007">ارسال <strong class="style-1008">تمرین یا گزارش کلاسی و
                                        دانشگاهی</strong> از ایمیل <a href="mailto:masoud.karegar@gmail.com"
                                        class="style-1009">masoud.karegar@gmail.com</a>&nbsp;استفاده نمایید.</p>
                                <p class="style-1010">(ذکر نام / نام خانوادگی / نام دانشگاه در ایمیل الزامی است)</p>
                                <p class="style-1011">لطفا برای هر تمرین یا گزارش فقط یک ایمیل ارسال نمایید.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div  class="style-1012" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="style-1013">
                <div class="style-1014">
                    <div class="style-1015">
                        <div class="style-1016">
                            <h5 id="StudentSection" class="style-1017">پیام به دانشجو</h5> <button type="button" class="style-1018"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="style-1019">×</span> </button>
                        </div>
                        <div class="style-1020">
                            <div class="style-1021">
                                <div class="style-1022">
                                    <div class="style-1023">
                                        <h5 class="style-1024" data-toggle="collapse" data-target="#collapse_msg1"
                                            aria-expanded="true" aria-controls="collapse_msg1">
                                            <div class="style-1025">
                                                <span class="style-1026">مهات نهایی ارسال مستندات درس یادگیری ماشین
                                                    (دانشجویان مقطع دکتری)</span> <span class="style-1027"></span> <span
                                                    class="style-1028">(چهارشنبه ۱۸ مرداد ۱۴۰۲ ۱۵:۳۹ )</span>
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="style-1029" aria-labelledby="heading_msg1"
                                        data-parent="#accordionExamplemsg">
                                        <div class="style-1030">
                                            <div class="style-1031">
                                                <p class="style-1032">با سلام، لطفا تمامی مستندات خود را حداکثر تا تاریخ
                                                    22 مرداد ماه به ایمیل masoud.karegar@gmail.com ارسال نمایید.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="style-1033">
                                    <div class="style-1034">
                                        <h5 class="style-1035" data-toggle="collapse" data-target="#collapse_msg2"
                                            aria-expanded="true" aria-controls="collapse_msg2">
                                            <div class="style-1036">
                                                <span class="style-1037">مهات نهایی ارسال مستندات درس طراحی الگوریتم
                                                    پیشرفته( دانشجویان مقطع کارشناسی ارشد)</span> <span
                                                    class="style-1038"></span> <span class="style-1039">(چهارشنبه ۱۸
                                                    مرداد ۱۴۰۲ ۱۵:۴۲ )</span>
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="style-1040" aria-labelledby="heading_msg2"
                                        data-parent="#accordionExamplemsg">
                                        <div class="style-1041">
                                            <div class="style-1042">
                                                <p class="style-1043">با سلام، لطفا تمامی مستندات خود را حداکثر تا تاریخ
                                                    20 مرداد ماه به ایمیل masoud.karegar@gmail.com ارسال نمایید.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="style-1044" />
        <section class="style-1045">
            <div class="style-1046">
                <div class="style-1047">
                    <div class="style-1048">
                        <h3 class="style-1049">بخش دانشجویی</h3>
                    </div>
                    <div class="style-1050">
                        <a class="style-1051" href="/detail.php?schedule=1">برنامه کلاسی</a> <a class="style-1052"
                            href="/HandoutCat.php">دروس</a> <a class="style-1053" href="/detail.php?message=1">پیام به
                            دانشجو</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="style-1054">
            <div class="style-1055">
                <div class="style-1056">
                    <div class="style-1057">
                        <h5 class="style-1058">شبکه های اجتماعی</h5>
                        <ul class="style-1059">
                            <li class="style-1060"><a href="https://chat.whatsapp.com/IfmhQ6uyezJE3Hz5694Obs"
                                    class="style-1061">واتس آپ</a></li>
                            <li class="style-1062"><a href="https://t.me/Drmasoudkargar" class="style-1063">تلگرام</a>
                            </li>
                        </ul>
                    </div>
                    <div class="style-1064">
                        <div class="style-1065">
                            کلیه حقوق این سایت متعلق به <strong class="style-1066"> دکتر مسعود کارگر </strong> می‌باشد
                        </div>

                </div>
            </div>
        </footer>
    </body>
    </html>